@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .parameter-button {
        background-image: linear-gradient(#c6d6e5, #ccc);
    }

    /* 
    Following animation acquired from:
    https://codemyui.com/buttons-trippy-background-animation-hover/ 
    */
    /*
    .parameter-button-active {
        animation: zigzag 1s linear infinite;
        background: linear-gradient(
                    135deg,
                    rgba(213, 6, 48, 0.2) 0.25em,
                    transparent 0.25em
                ) -0.5em 0,
            linear-gradient(
                    225deg,
                    rgba(213, 6, 48, 0.2) 0.25em,
                    transparent 0.25em
                ) -0.5em 0,
            linear-gradient(
                    315deg,
                    rgba(213, 6, 48, 0.2) 0.25em,
                    transparent 0.25em
                )
                0 0,
            linear-gradient(
                    45deg,
                    rgba(213, 6, 48, 0.2) 0.25em,
                    transparent 0.25em
                )
                0 0;
        background-size: 0.75em 0.75em;
    }
    @keyframes zigzag {
        100% {
            background-position: 1em 0, 1em 0, -0.75em 0, -0.75em 0;
        }
    }
    */
}
